body,html {
  margin: 0%;
  padding: 0;
}

.header-wrapper {
  background-color: #2f2c2b
}

/* ----[font color, weight, size, family]--- */
.header-title { font-family: "niteclub"; font-size: 30px; color: #a7c8a9;}

.header-subheading {font-family: "oswald"; font-size: 50px; color: #a7c8a9;} 

.header-tagline { font-family: "oswald"; font-size: 22px; color: #a7c8a9;}

.header-left a, .header-right a { font-weight: lighter; font-size: 16px; color: #E3E7E2;}

.header-categories a{ font-weight: lighter; font-size: 24px; color: #E3E7E2;}

/*----spacing and responsiveness----*/
.header-toprow {
  display: flex;
  align-items: center;
  padding: 40px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*.header-left a, .header-right a */

.header-left {flex: 1; display: flex; justify-content: flex-start; gap: 15px; min-width: 150px;}
.header-title {flex: 1; display: flex; justify-content: center; min-width: 150px;}
.header-right {flex: 1; display: flex; justify-content: flex-end; gap: 15px; min-width: 150px;}

.header-subheading {
  text-align: center;
  margin-bottom: auto;
}
.header-tagline {
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.header-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}

.header-categories a {
  margin: 0 20px;
}

.header-divider {
  height: 2px;
  background-color: #E3E7E2;
  width: 60%;
  margin: 50px auto 30px auto;
}

@media (max-width: 1024px) {
  .header-toprow {
    flex-direction: column;
    padding: 40px;
  }

  .header-left,
  .header-center,
  .header-right {
    flex: unset;
    justify-content: center;
    margin: 5px 0;
  }

  .header-left a,
  .header-right a {
    font-size: 0.9rem;
  }
}
