.simple-navbar { background-color: #2f2c2b; }
.simple-navbar .dropdown-menu { background-color: #2f2c2b; }

.simple-navbar .nav-link { color: #E3E7E2; }
.simple-navbar .dropdown-item { color: #a7c8a9; }


.simple-navbar .dropdown-menu .dropdown-item:hover { background-color: #7C8B75; }
.simple-navbar .nav-link:hover, .simple-navbar .dropdown-item:hover { color: #7C8B75; }


.simple-navbar .navbar-brand {color: #a7c8a9; font-family: "niteclub"; font-size: 24px; }