.simple-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


  background-color: #313b35; 
  padding: 10px 100px; 
  border-bottom: 10px solid #45524b; 
}


.simple-navbar .navbar-brand {
  font-family: "minerva";
  font-size: 25px; 
  color: #B8EFD9;
}


.simple-navbar .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #E3E7E2;
  transition: color 0.3s;
}

.simple-navbar .nav-link:hover {
  color: #B8EFD9; /* same hover as header links */
}


.simple-navbar .dropdown-menu {
  background-color: #313b35 !important;
}

.simple-navbar .dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #E3E7E2;
}

.simple-navbar .dropdown-item:hover {
  color: #B8EFD9;
  background-color: transparent !important; 
}
