.faq-header {
  background-color: #2b2b2b; /* Charcoal background */
  color: #ffffff; /* White text */
  text-align: center; /* Center content */
  padding: 3rem 2rem 3rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.faq-header h2 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

.faq-header p {
  color: rgba(255, 255, 255, 0.8); /* Slightly transparent subtext */
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: 1rem;
  max-width: 800px;
  text-align: center;
}
